# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
tsconfig.tsbuildinfo

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# E2E
test-results
playwright-report

# Local env files
.env
.env.*
!.env.example

data
