@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-text-dimmed: var(--ui-color-neutral-700);
  --ui-text-muted: var(--ui-color-neutral-800);
  --ui-text-toned: var(--ui-color-neutral-900);
  --ui-text: var(--ui-color-neutral-900);
}

.dark {
  --ui-text-dimmed: var(--ui-color-neutral-300);
  --ui-text-muted: var(--ui-color-neutral-200);
  --ui-text-toned: var(--ui-color-neutral-100);
  --ui-text: var(--ui-color-neutral-50);
}
